<div class = "check-list">
  <h2><%= @list.user.first_name %>'s list</h2>
  <ul>
    <% @list.items.each do |item| %>
      <%= turbo_frame_tag dom_id(item) do %>
        <li class="d-flex align-content-center">
          <div class="item-name"><strong><%= item.name %>:</strong> <%= item.description %> </div>
          <%= link_to item_path(item, item: { completed: !item.completed }), data: { turbo_method: :patch }, style: 'display: block; background: white; border: 1px solid black; height: 1.6 rem; width: 1.7rem;' do %>
            <% if item.completed %>
              <i class="fa-solid fa-check fa-xl" style="color: #45c83c;"></i>
            <% end %>
          <% end %>

        </li>
      <% end %>
    <% end %>
  </ul>
  <div class= "footer-friend-list">
    <%= link_to "Back to lists", lists_path, class: "btn btn-flat", style: 'margin-bottom:20px'%>
    <% @chats = [] %>
    <% @found = 0 %>

    <% @list.user.chatrooms.each do |chatroom| %>
      <% @chats.concat(chatroom.user_ids)%>
      <% if @chats.include? current_user.id %>
        <% @found = 1 %>
        <%= link_to chatroom_path(chatroom) do %>
          <div class="chat-icon-friend"><i class="fa-solid fa-envelope"></i> Chat</div>
        <% end %>
      <% end %>
    <% end %>

    <% if @found == 0 %>
      <%= link_to chatrooms_path(user_id: @list.user.id), data: {turbo_method: :post} do%>
        <div class="chat-icon-friend"><i class="fa-solid fa-envelope"></i> Chat</div>
      <% end %>
    <% end %>

  </div>

</div>
